<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<div th:replace="header :: copy"></div>

<!-- Content -->
<div class="container">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h5 class="panel-title"><span class="glyphicon glyphicon glyphicon-list-alt"></span>Shipping details</h5>
        </header>
        <div class="panel-body" >
            <h3>Origin</h3><p name="origin" th:text="${origin}"></p>
            <h3>Destination</h3><p name="destination" th:text="${destination}">Destination</p>
            <br />
            <br />
            <h3><strong>Please choose one from the following shipping options: </strong></h3>
        </div>

    <form action="/review-order" method="post">
        <div class="shipping-options-table">
        <table id="shipping-options"
               class="table table-bordered table-hover"
               data-toggle="table"
               data-height="300"
               data-url=""
               data-pagination="true"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-toolbar="#toolbar">
            <thead class="bg bg-default">
            <tr>
                <th data-field="shipping" data-checkbox="true"></th>
                <th data-field="options">Option</th>
                <th data-field="cost">Cost</th>
                <th data-field="details">Details</th>
                <th data-field="time">Time (h)</th>
                <th data-field="distance">Distance (km)</th>
            </tr>
            </thead>

            <tbody class="shipping-tbody">
            <tr th:each="option, iterStat: ${shippingOptions}">
                <td><input type="radio" name="shipping-option" th:value="${option.getName()}" id="shipping-option" required="true" /></td>
                <td th:text="${option.getName()}"></td>
                <td th:text="${option.getCost()}+ ' '+${option.getCurrency()}"></td>
                <td th:text="${option.getDetails()}"></td>
                <td th:text="${option.getTimeInHours()}"></td>
                <td th:text="${option.getDistanceInKm()}"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <br />
        <div class="pull-right">
            <button class="btn btn-success" type="submit">Complete payment</button>
        </div>
    </form>
    </section>

</div>

<div th:replace="footer :: copy"></div>
</html>