<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy(message)">
    <p th:text="${message}" class="some-other-style-class"></p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" th:text="${category} ? ${category.name} : 'Categories'">Categories</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Product Category Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li th:each="category, iterStat: ${categories}"><a th:href="'/product-category/' + ${category.getId()}" th:text="${category.name}"></a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="'/'">All</a></li>
        </ul>
    </div>
</div>

</body>
</html>